@import 'tailwindcss';

:root {
  --color-bg: #ffffff;
  --color-bg-secondary: #f5f7fb;
  --color-primary: #789cff;
  --color-text: #1e1e1e;
  --color-text-secondary: #4f4f4f;
  --color-text-thirdary: #2a3dbd;
  --color-border: #bebebe;
  --color-loading: #d8d8d8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #0c1a33;
    --color-bg-secondary: #16294d;
    --color-primary: #0f47af;
    --color-text: #f2f5fa;
    --color-text-secondary: #b1b1b1;
    --color-text-thirdary: #cfe1ff;
    --color-border: #394868;
    --color-loading: #254384;
  }
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
}
